model.safetensors
Editing music with melody and text_using controlnet for diffusion transformer.pdf
pixart_alpha_fast and controllagle image generation with latent consistency models.pdf
Zhang_Adding_Conditional_Control_to_Text-to-Image_Diffusion_Models_ICCV_2023_paper.pdf
tmp/
C:\PROJECT\StableAudio\stable_audio_control\scripts\__pycache__\
.claude/
.idea/
outputs/
.venv/
*.wav
__pycache__/
*.pyc
data.zip
note/
stable-audio-controlnet/
.planning/
noob-docs/
mtg*/
song_describer/
*.zip
audios/
stable_audio_control/data/audio_pipeline/
stable_audio_control/data/manifests/
stable_audio_control/data/mtg_2pack.tar.gz
stable_audio_control/data/organize_dataset.py
stable_audio_control/data/over_fit/
stable_audio_control/data/overfit_then/
stable_audio_control/data/temp/
stable_audio_control/scripts/batch_generate_control.py
